/* 
	data style.
*/

#data {

}

#data textarea {
	width: 99%;
	height: 7em;
	padding: 5px;
}

#data .select_table {
	float: right;
}

#data .took {
	margin-left: 2em;
}

#data h2 {
	width: 300px;
}

#data .export {
	float: right;
}

#data .found {
	float: right;
}

#data .data {
	width: 100%;
	border-top: 1px solid #abadb3;
}

table{
	border-collapse: collapse;
	margin: 0px 0 0 0;
	color: #000;
	width: 100%;
	border-top: 1px solid #000;
	border-spacing: 1px;
}

table th {
	font-size: 12px;
	padding: 7px 11px 7px 11px;
	border: 1px solid #505258;
	color: #fff;
	background: #252829;
}

table tbody {  }

table td {
	font-size: 11px; 
	padding: 7px 11px 7px 11px;
	border: 1px solid #abadb3;
	color: #313131;
	white-space: nowrap; 
	overflow: hidden; 
	text-overflow:ellipsis;
}

table .row_num_th {
	border: 1px solid #abadb3;
	background: #637383;
	color: #fff;
	text-align: center;	
}
table .row_num {
	border: 1px solid #abadb3;
	color: #fff;
	background: #39424b;
	text-align: center;
}
table .row_del_th {
	color: #fff;
	text-align: center;	
	width: 40px;
}

table tr:hover td {
	background: #fdf2f2;
}
table .alternate_open {
	background: #e9fecb;
}
table .alternate_closed {
 background: url(../images/bg_grey.gif) top repeat;
}
table .td_address {
 width: 35%;
}
table .td_status {
	text-align: center;
}


.spacelinks { margin-left: 10px; }


#new_data .schema {
	float: left;
	text-align: left;
	position: relative;
	margin-top: 2em;
	margin-right: 2em;
	display: inline;
	background: #d6d7da;
	padding: 12px;
	border: 1px solid #abadb3;
	width: 176px;
	min-height: 254px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;			
}
#new_data .schema h3 {
	margin-top: 5px;
	font-size: 100%;
	font-weight: bold;
}
#new_data .schema  p {
	margin-top: 4px;
	font-size: 86%;
	min-height: 40px;
}
#new_data .schema span img {
	max-width: 160px;
	max-height: 111px;
	border: 1px solid #abadb3;
	background: #fff;
	padding: 7px;
}
#new_data .schema  input {
	margin-top: 10px;
}
