/* 
	query style.
*/

#query {

}

#query textarea {
	width: 99%;
	height: 7em;
	padding: 5px;
}

#query .select_table {
	float: right;
}

#query .submit1 {
	background: #d02b2b;
	color: #fff;
	padding: 8px 15px 8px 15px;
	border: 1px solid #d02b2b;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;		
}
#query .submit1:hover {
	background: #bb3d2b;
}

#query .took {
	margin-left: 2em;
}

#query h2 {
	width: 300px;
}

#query .export {
	float: right;
}

#query .found {
	float: right;
}

#query .results {
	width: 100%;
	border-top: 1px solid #abadb3;
}

.matrix { overflow: auto; }

table{
	table-layout:fixed;
	border-collapse: collapse;
	margin: 0px 0 0 0;
	color: #000;
	max-height: 174px;
	border-top: 1px solid #000;
	border-spacing: 1px;
}

table th {
	font-size: 12px;
	padding: 7px;
	border: 1px solid #505258;

	color: #fff;
	background: #252829;
}

table tbody {  }

table td {
	font-size: 11px; 
	padding: 7px;
	border: 1px solid #abadb3;
	color: #313131;

	white-space: nowrap; 
	overflow: hidden; 
	text-overflow:ellipsis;
}

table .row_num_th {
	border: 1px solid #abadb3;
	background: #637383;
	color: #fff;
	text-align: center;	
}
table .row_num {
	border: 1px solid #abadb3;
	background: #39424b;
	color: #fff;
	text-align: center;
}

table tr:hover td {
	background: #fdf2f2;
}

table .alternate {
	background: #f3f3f3;
}
table .is_num {
	text-align: right;
}

.spacelinks { margin-left: 10px; }

.toggle {
	margin: 1em 0 1em 0;
}

#query .tip {
	text-align: center;
	background: #f3f3c7;
	padding: 12px;
	border: 1px solid #abadb3;
	margin: 0 0 1.5em 0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;			
}