/* 
	settings style.
*/

#settings {

}



#settings .tip {
	text-align: center;
	background: #f3f3c7;
	padding: 12px;
	border: 1px solid #abadb3;
	margin: 0 0 1.5em 0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;			
}


.input {
	margin: 3px 0 3px 0;
	width: 250px;
	height: 28px;
	font-size: 1.6em;
	text-align: left;
}