
h3 {  
	font-size: 14pt; 
	font-weight: normal;
	color: #252829;
	margin-bottom: 1em;
/* 	border-bottom: 1px solid #000; */
}

.select_table {
	float: right;
}

.boundry_choice {
	text-align: left;
	background: #f3f3c7;
	padding: 12px;
	border: 1px solid #abadb3;
	margin: 0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;			
}

.boundry_events {
	text-align: center;
	background: #252829;
	padding: 12px;
	border: 0px solid #abadb3;
	margin: 1em 0 1em 0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;			
}
.boundry_events p {
	font-size: 20pt; 
	font-weight: normal;
	color: #fff;
}
.boundry_events .attr_text2, .attr_value2 {
	font-weight: bold;
}

.submit2 {
	background: #d02b2b;
	color: #fff;
	padding: 8px 15px 8px 15px;
	border: 0px solid #d02b2b;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;		
}
.submit2:hover {
	background: #bb3d2b;
}
.submit3 {
	background: #252829;
	color: #fff;
	padding: 8px 15px 8px 15px;
	border: 0px solid #252829;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;		
}
.submit3:hover {
	background: #4386b8;
}
.submit4 {
	background: #268ad5;
	color: #fff;
	padding: 8px 15px 8px 15px;
	border: 0px solid #268ad5;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;		
}
.submit4:hover {
	background: #4386b8;
}

.updating {
	background: #39424b url(../../../images/bg_grey.gif) repeat;
	opacity: 0.5;
filter:alpha(opacity=50);
-moz-opacity:0.5;
}


#table {
	width: 950px;
}

#matrix {
	overflow: auto;

}

#table .found {
	float: right;
}

#table .results {
	width: 100%;
	border-top: 1px solid #abadb3;
}

table{
	table-layout:fixed;
	border-collapse: collapse;
	margin: 0px 0 0 0;
	color: #000;
	max-height: 174px;
	border-top: 1px solid #000;
	border-spacing: 1px;
}

table th {
	font-size: 12px;
	padding: 7px;
	border: 1px solid #505258;

	color: #fff;
	background: #252829;
}

table a{ text-decoration: none; }

.tbhead a{ 
	color: #fff; 
}
.tbhead a:hover{ 
	color: #258b86; 
}

table tbody a{ }

table td {
	font-size: 11px; 
	padding: 7px;
	border: 1px solid #abadb3;
	color: #313131;

	white-space: nowrap; 
	overflow: hidden; 
	text-overflow:ellipsis;
}

table .row_num_th {
	border: 1px solid #abadb3;
	background: #637383;
	color: #fff;
	text-align: center;	
}
table .row_num {
	border: 1px solid #abadb3;
	background: #39424b;
	color: #fff;
	text-align: center;
}

table tr:hover td {
	background: #fdf2f2;
}

table .alternate {
	background: #f3f3f3;
}
table .is_num {
	text-align: right;
}

.spacelinks { margin-left: 10px; }