
script(src='/javascripts/settings.js')
link(rel='stylesheet', href='/stylesheets/settings.css')

div#settings

	//- g.dump(values);

	div.container

		h2= title
		
		- if ( values != 0 ) {
		div.tip
			p #{values}
		- }
		
		form(method="post", name="settings", id="settings", action="")
			
			p Username: admin

			p
				label(for="username") New Password: 
				br
				input(type="input", name="new_password", value="", class="input")

			p
				input.submit1(type="submit", value="Save") 
